<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule 🔑🔒</title>
</head>
<body>

    <h1>Login</h1>
    <div align="center">
        <form action="submit" method="POST">{% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username">
        <label>Password:</label>
        <input type="password" name="password">
        <button type="submit"> Enter</button>
        </form>
    </div>
    <div align="center">
        {% for message in messages %}
            <strong>Error! </strong>{{ message}}
        {% endfor %}
    </div>
</body>
</html>